<aside class="col-2 aside-filter" style="font-weight: 500;">
    <form action="./" method="get">
        <h2>Filtros</h2>
        <section>
            <h3>Região</h3>
            <label for="state">Estado</label>
            <select name="state" id="state">
                <option value="selecione">Selecione</option>
            </select>
            <label for="city">Cidade</label>
            <select name="city" id="city">
            </select>
        </section>
        <section>
            <h3>Pesquisa</h3>
            <label for="search">Pesquisa</label>
            <input type="search" name="search" id="search">
        </section>
        <button type="submit">Filtrar</button>
    </form>
</aside>