<!DOCTYPE html>
<html lang="pt-br">

<head> <!-- Head com imports Boostrap, css e js -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/Main/Cadastro/Etapa2/CadastroEtapa2.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Cadastro</title>
</head>

<body>
    <div class="register-card-container">
        <div class="register-card">
            <div class="register-card-logo">
                <img src="/imagens/Logo-Gradiente.png" alt="Logo">
            </div>
            <div class="register-card-header">
                <h1>Bem vindo a Conexão MRV</h1>
                <div>
                    <h3>Conte-nos um pouco sobre você</h3>
                </div>
            </div>
            <form class="register-card-form" method="post" action="">
                <div class="form-item">
                    <span>Razão Social</span>
                    <input type="text" placeholder="Digite a Razão Social" name="razaoSocial" required autofocus>
                    <% if(error.razaoSocial) {%>
                        <span id="incorrect-data"><%= error.razaoSocial %></span>
                    <% }%>
                </div>
                <div class="form-item">
                    <span>CNPJ</span>
                    <input type="text" id="cnpj" placeholder="Digite o CNPJ" maxlength="18" required name="cnpj">
                    <% if(error.cnpj){%>
                        <span id="incorrect-data"><%= error.cnpj %></span>
                    <% }%>
                </div>
                <button type="submit">Continuar</button>
            </form>
        </div>
    </div>
    <script>
        const cnpj = document.querySelector('#cnpj')

        cnpj.addEventListener('keypress', () => {
        let cnpjlength = cnpj.value.length

            if (cnpjlength === 2 || cnpjlength === 6){
                cnpj.value += "."
            }else if (cnpjlength === 10){
                cnpj.value += "/"
            }else if (cnpjlength === 15){
                cnpj.value += "-"
            }
        })
    </script>
</body>

</html>