<main class="col-8">
    <!--  Conteúdo principal da página  -->
    <h1>Usuário</h1>
    <div class="container">
        <center>
            <div class="container-foto">
                <label for="file-input">
                    <img class="imagensFoto" src="../../../../imagens/Usuario/empreiteiro-1.jpg" width="200">

                    <div class="middle">
                        <div class="">
                            <img src="../../../../imagens/Usuario/edit-icon-png.png" width="140">
                </label>
                <input id="file-input" type="file" hidden />
            </div>
    </div>
    </div>
    </center><br><br>


    <div class="input-group mb-3">
        <form>
            <div class="row">
                <div class="col-12">
                    <label>Razão social:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite a razão social" aria-label="Username"
                        aria-describedby="basic-addon1" name="pwd">
                </div>
                <div class="col-9">
                    <label>CNPJ:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o CNPJ:" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="col-6">
                    <label>Número de Funcionários:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o número de funcionários:"
                        aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="col-6">
                    <label>Telefone:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o telefone:"
                        aria-label="Amount (to the nearest dollar)">
                </div>
                <div class="col-6">
                    <label>E-mail:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o e-mail:"
                        aria-label="Amount (to the nearest dollar)">
                </div>
                <div class="col-9">
                    <label for="nomeDono">Nome do dono:</label><br>
                    <input type="text" class="form-control" id="nomeDono" placeholder="Digite o nome do dono:"
                        aria-label="Amount (to the nearest dollar)">
                </div>
                <div class="col-6">
                    <label>CPF do dono:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o CPF do dono:"
                        aria-describedby="basic-addon3">
                </div>
                <div class="col-6">
                    <label>Telefone do dono:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o telefone do dono:"
                        aria-describedby="basic-addon3">
                </div>
                <div class="col-6">
                    <label>E-mail do contador:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o e-mail do contador:"
                        aria-describedby="basic-addon3">
                </div>
                <div class="col-6">
                    <label>Telefone do contador:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o telefone do contador"
                        aria-describedby="basic-addon3">
                </div>

            </div>
        </form>

    </div>
    </center>
    <center>
        <a href="Usuario.html">
            <input type="button" class="btn btn-outline-danger" value="Cancelar"></a>
        <a href="Usuario.html">
            <input type="button" class="btn btn-outline-success" value="Salvar"></a>
    </center><br><br>
    </div>
</main>