
  <div class="container-fluid1">
    <img src="/imagens/PaginaPrincipal/planejamentoObra.jpg" class="card-img-top1" alt="banner">
    <div>
      <h2 class="title"> Conexão MRV</h2>
      <p class="explicacao">Se você ainda não está inscrito no Programa, cadastre-se e garanta os benefícios de ser um
        Corretor ou Imobiliária parceira na prospecção de terrenos para a MRV&CO.
      <a href="cadastro/etapa1" class="btn btn-info btn-lg2"
        style="margin-top: 20px;margin-left: 100px; background-color: #FF8B22; border-color: #FF8B22;"
        role="button">Quero me inscrever</a>
    </div>
  </div>

  <div class="container text-center">
    <div class="row pt-5">
      <div class="col-2">

      </div>
      <div class="row">
        <% for(let i = 0; i < obras.length; i++) {%>
          <%- include('../Componentes/CardObra/CardObraHome', obras[i]) %>
        <% } %>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>

  <script>
    function deleteCookies(){
        eraseCookie("email");
        eraseCookie("senha");
        eraseCookie("razao_social");
        eraseCookie("cnpj");
        eraseCookie("num_func");
        eraseCookie("tel_empresa");
        eraseCookie("nome_dono");
        eraseCookie("tel_dono");
        eraseCookie("cpf_dono");
        eraseCookie("owner_birth_date");
        eraseCookie("email_contador");
        eraseCookie("tel_contador");
    }
    function eraseCookie(nome) {
        document.cookie = nome +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
  </script>