<!DOCTYPE html>
<html lang="pt-br">

<head> <!-- Head com imports Boostrap, css e js -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/Main/Cadastro/Etapa5/CadastroEtapa5.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Cadastro</title>
</head>

<body>
    <div class="register-card-container">
        <div class="register-card">
            <div class="register-card-logo">
                <img src="/imagens/Logo-Gradiente.png" alt="Logo">
            </div>
            <div class="register-card-header">
                <h1>Dados do Contador</h1>
            </div>
            <form class="register-card-form" method="post" action="/cadastro/etapa6">
                <div class="form-item">
                    <span>E-mail do contador</span>
                    <input type="text" placeholder="E-mail do contador" name="emailContador" required autofocus>
                    <!--<%# if(error){%>
                        <span id="incorrect-data">E-mail inválido</span>
                    <%# }%>-->
                </div>
                <div class="form-item">
                    <span>Telefone do Contador</span>
                    <input type="text" id="tel_contador" placeholder="Telefone do contador" name="telContador" maxlength="16" required>
                    <!--<%# if(error){%>
                        <span id="incorrect-data">Telefone inválido</span>
                    <%# }%>-->
                </div>
                <button type="submit">Continuar</button>
            </form>
        </div>
    </div>
    <script>
        const tel_contador = document.querySelector('#tel_contador')

        tel_contador.addEventListener('keypress', () => {
            let tel_contadorlength = tel_contador.value.length

            if (tel_contadorlength === 0){
                tel_contador.value += "("
            }else if (tel_contadorlength === 3){
                tel_contador.value += ") "
            }else if (tel_contadorlength === 6){
                tel_contador.value += " "
            }else if (tel_contadorlength === 11){
                tel_contador.value += "-"
            }
        })
    </script>
</body>

</html>