<main class="col-8">
    <!--  Conteúdo principal da página  -->
    <h1>Administrador</h1>
    <div class="container">
        <center>


    <div class="input-group mb-3">
        <form method="post">
            <div class="row" id="row">
                <div class="col-12">
                    <label>Nome:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o nome" aria-label="Username"
                        aria-describedby="basic-addon1" name="pwd">
                </div>
                <div class="col-6">
                    <label>E-mail:</label>
                    <br>
                    <input type="text" class="form-control" placeholder="Digite o e-mail:"
                        aria-label="Amount (to the nearest dollar)">
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <a href="Usuario.html">
                            <input type="button" id="button" class="btn btn-success" value="Salvar">
                        </a>
                    </div>
                </div>
            </div>
        </form>

    </div>
    </center>
    <center>
    </center><br><br>
    </div>
</main>