<!DOCTYPE html>
<html lang="pt-br">

<head> <!-- Head com imports Boostrap, css e js -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/Main/Cadastro/Etapa4/CadastroEtapa4.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Cadastro</title>
</head>

<body>
    <div class="register-card-container">
        <div class="register-card">
            <div class="register-card-logo">
                <img src="/imagens/Logo-Gradiente.png" alt="Logo">
            </div>
            <div class="register-card-header">
                <h1>Dados do Dono</h1>
            </div>
            <form class="register-card-form" method="post" action="/cadastro/etapa5">
                <div class="form-item">
                    <span>Nome do dono</span>
                    <input type="text" placeholder="Nome do Dono" name="nomeDono" required autofocus>
                </div>
                <div class="form-item">
                    <span>Cpf</span>
                    <input type="text" id="cpf_dono" placeholder="Cpf do Dono" name="cpf_dono" maxlength="14" required>
                    <!--<%# if(error){#%>
                        <span id="incorrect-data">Cpf inválido</span>
                    <#% }#%>-->
                </div>
                <div class="form-item">
                    <span>Telefone do dono</span>
                    <input type="text" id="tel_dono" placeholder="Telefone do Dono" name="telDono" maxlength="16" required>
                    <!--<%# if(error){%>
                        <span id="incorrect-data">Telefone inválido</span>
                    <%# }%> -->
                </div>
                <button type="submit">Continuar</button>
            </form>
        </div>
    </div>
    <script>
        const cpf_dono = document.querySelector('#cpf_dono')

        cpf_dono.addEventListener('keypress', () => {
            let cpf_donolength = cpf_dono.value.length

            if (cpf_donolength === 3 || cpf_donolength === 7){
                cpf_dono.value += '.'
            }else if (cpf_donolength === 11){
                cpf_dono.value += '-'
            }
        })

        const tel_dono = document.querySelector('#tel_dono')

        tel_dono.addEventListener('keypress', () => {
            let tel_donolength = tel_dono.value.length

            if (tel_donolength === 0){
                tel_dono.value += "("
            }else if (tel_donolength === 3){
                tel_dono.value += ") "
            }else if (tel_donolength === 6){
                tel_dono.value += " "
            }else if (tel_donolength === 11){
                tel_dono.value += "-"
            }
        })
    </script>
</body>

</html>